.inputImageInput{

    position: relative;

}

.inputImageInputInput{
    position: absolute;
    height: 100%;
    width: 100%;
}

.inputImageInputFile{
    height: 100%;
    width: 100%;
    outline: none;
    visibility: hidden;
}

.inputImageInputLabel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-weight: 500;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.inputImageInputLabel:hover{
    background-color: rgba(0, 0, 0, .7);
}